dotenv

if [[ -z "$INSIDE_RUST_FHS_ENV" ]]; then
  use flake .
else
  # We are inside the FHS environment, so skip the direnv setup to prevent recursion
  echo "Skipping direnv setup inside FHS environment"
fi
