# Rust often needs a bit of an extra main task stack size compared to C (the default is 3K)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
CONFIG_ESP32_SPIRAM_SUPPORT=y

CONFIG_SCCB_HARDWARE_I2C_DRIVER_LEGACY=y

# CONFIG_CONSOLE_UART_BAUDRATE=921600

# force legacy I²C driver
# CONFIG_I2C_ENABLE_LEGACY_API=y
# CONFIG_I2C_ENABLE_DRIVER_NG=n

# silence the warning about pcnt legacy
# CONFIG_PCNT_ENABLE_LEGACY_API=y
# CONFIG_PCNT_ENABLE_DRIVER_NG=n

# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granularity for thread sleeps (10 ms by default).
#CONFIG_FREERTOS_HZ=1000

# Workaround for https://github.com/espressif/esp-idf/issues/7631
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n
